@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700&subset=latin,latin-ext);


@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("RobotoCondensed-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("RobotoCondensed-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("RobotoCondensed-BoldItalic.ttf") format('truetype');
}

/*
@import "../themes/bootstrap/css/jquery/jquery-ui.min.css";
@import "../themes/bootstrap/css/bootstrap/bootstrap.min.css";
@import "../themes/bootstrap/css/fontawesome/font-awesome.min.css";
@import "../themes/bootstrap/css/summernote/summernote.css";
@import "../themes/bootstrap/css/codemirror/codemirror.css";
@import "../themes/bootstrap/css/nvd3/nv.d3.css";
@import "../themes/bootstrap/css/mcustomscrollbar/jquery.mCustomScrollbar.css";
@import "../themes/bootstrap/css/fullcalendar/fullcalendar.css";
@import "../themes/bootstrap/css/blueimp/blueimp-gallery.min.css";
@import "../themes/bootstrap/css/rickshaw/rickshaw.css";
@import "../themes/bootstrap/css/dropzone/dropzone.css";
@import "../themes/bootstrap/css/animate/animate.min.css";
*/
.jqm-demos .jqm-header{
    background: rgba(209,0,0,1) none repeat scroll 0 0 !important;
    border-bottom-color: #eee;
    border-top: 4px solid rgba(209,0,0,1) !important;
    padding-top: 0px !important;
	color:#fff !important;
	font-family:"Roboto Condensed", sans-serif !important;
	text-shadow: 0 0px 1px #333 !important; 
}
div#index div.jqm-header.ui-header.ui-bar-inherit h2.ui-title, div#login  div.jqm-header.ui-header.ui-bar-inherit h2.ui-title  {
	margin-left:0 !important;
	margin-right:0px !important;
}


div.ui-content center a.ui-link {
	color:#ec2024 !important;
	text-shadow: 0 1px 0 #ddd !important; 
	text-decoration: none !important;
}


#userbox {
	font-size:16px !important;
	min-height:25px;
}

#user_photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    z-index: 200000;
    display: block;
    margin-top: -24px;
}

#user_photo img {
	min-width:100%;
	max-width: 100%;
}

#popupMenu ul li a {
	font-weight:100 !important;
}

.truncate {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



div#home {
    background: url(../img/bubbles.gif) center center no-repeat fixed;
    background-size: cover;
    background-color: #eee;
}
	
input[type='button'], button, .btn, .btn-coke, .content .ui-btn  {
	background: #ec2024 !important;
	opacity:1 !important;
	color:#fff !important;
	text-transform: uppercase !important;
	border:#ec2024 1px solid !important;
	font-weight: 400 !important;
	font-family:"Roboto", sans-serif !important;
	text-shadow: 0 0px 0 #333 !important; 
	border-radius: 5px !important;
}

input[type='button'], input[type='text'], input[type='password'], .ui-input-text input, .ui-input-search input
  {
	
	border-radius: 10px !important;
}

.jqm-header .fa {
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
	font-size:22.5px !important;
}

.ui-btn {
    -moz-user-select: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0.7em 1em 0.5em !important;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.about-copyright {
	bottom: 10px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
	color: #ccc !important;
	font-size:10px !important;
}


.ui-loader .ui-icon-loading {
    background-color: #000;
    background-image: url("../../img/ajax-loader.gif") !important;
    border-radius: 2.25em;
    display: block;
    height: 2.75em;
    margin: 0;
    padding: 0.0625em;
    width: 2.75em;
}

.jqm-demos .jqm-header h2 img {
    height: auto;
    width: 46px !important;
}
.x-navigation-control::before {
    color: #fff;
    content: "&#xf0c9";
    font-family: "FontAwesome";
    font-size: 14px;
    left: 20px;
    position: absolute;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    top: 14px;
}

#footer {
	display:none !important;
}

.ui-btn-icon-right {
    font-family: "Roboto Condensed",sans-serif !important;
    padding-right: 2.5em;
    text-transform: uppercase !important
}

.jqm-header a {
	margin-top:10px !important;
	border-radius:0px !important;
	border:none !important;
	background:none !important;
	color:#fff !important;
}
.jqm-demos .jqm-header .ui-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0.3125em;
    height: 2em;
    margin-top: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    top: 20px !important;
    width: 2em;
}

div.logo {
    background: #ec2024 none repeat scroll 0 0 !important;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    margin: 0 auto;
    padding: 10px;
    width: 80px;
		
}

html, body {
	font-family: "Roboto", sans-serif !important;
	font-size:14px;
	font-weight:400;
	color:#333 !important;
}